@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
	background-color: #702d2d; /* Replace with your desired color */
	min-height: 100vh; /* Ensure it covers the full height */
	margin: 0; /* Remove default margin */
  }